[submodule "data_services"]
	path = data_services
	url = https://github.com/UniversalBinary/data_services.git
[submodule "financial_services"]
	path = financial_services
	url = https://github.com/UniversalBinary/financial_services.git
[submodule "messaging_services"]
	path = messaging_services
	url = https://github.com/UniversalBinary/messaging_services.git
[submodule "tclap"]
	path = tclap
	url = https://github.com/xguerin/tclap.git
